* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background: url(bg.jpg) no-repeat left center;
}
.no-text {
  text-indent: -9999px;
}
.center {
  margin: 0 auto;
}
.bg {
  background: #23518f;
}
.bg-two {
  background: #223369;
}
.bg-three {
  background: #285084;
}
.radius {
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}
.gradient-lock {
  background: #1d4372;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFkNDM3MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzNkNTg4NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZDQzNzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #1d4372 0%, #3d5885 50%, #1d4372 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #1d4372), color-stop(50%, #3d5885), color-stop(100%, #1d4372));
  background: -webkit-linear-gradient(left, #1d4372 0%, #3d5885 50%, #1d4372 100%);
  background: -o-linear-gradient(left, #1d4372 0%, #3d5885 50%, #1d4372 100%);
  background: -ms-linear-gradient(left, #1d4372 0%, #3d5885 50%, #1d4372 100%);
  background: linear-gradient(to right, #1d4372 0%, #3d5885 50%, #1d4372 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d4372', endColorstr='#1d4372', GradientType=1);
}
.detail-door-class {
  height: 125px;
  background: #214778;
  width: 125px;
  margin: 0 auto;
  border-top: 2px solid rgba(36, 59, 101, 0.85);
  border-left: 1px solid rgba(36, 59, 101, 0.65);
  margin-bottom: 40px;
}
#geral {
  width: 700px;
  margin: 5% auto;
  overflow: hidden;
}
#tardis-geral {
  width: 500px;
  overflow: hidden;
  margin: 0 auto;
}
#tardis-geral .arrow-top {
  width: 0;
  height: 0;
  border: 30px solid transparent;
  display: block;
  border-bottom-color: #23518f;
  margin: 0 auto;
}
#tardis-geral #light {
  width: 58px;
  height: 65px;
  box-shadow: 0 0 15px 5px white;
  border-radius: 15%;
  margin: 0 auto;
  background: white;
  position: relative;
  margin-top: -5px;
}
#tardis-geral #light #bottom-light {
  background: #23518f;
  width: 58px;
  height: 10px;
  position: absolute;
  bottom: 0;
}
#tardis-geral #light:before {
  content: ".";
  display: block;
  height: 65px;
  position: absolute;
  width: 3px;
  text-indent: -9999px;
  top: 0;
  left: 27px;
  background: #23518f;
}
#tardis-geral #light:after {
  content: ".";
  display: block;
  height: 3px;
  position: absolute;
  width: 58px;
  text-indent: -9999px;
  top: 28px;
  left: 0;
  background: #23518f;
}
#tardis-geral #top-one {
  width: 395px;
  height: 10px;
  background: #23518f;
  margin: 0 auto;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}
#tardis-geral #top-two {
  width: 435px;
  height: 25px;
  background: #23518f;
  margin: 0 auto;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}
#tardis-geral #title {
  width: 500px;
  background: #23518f;
  margin: 0 auto;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  padding: 8px 0;
}
#tardis-geral #title #bg-title {
  background: black;
  color: white;
  width: 435px;
  height: 30px;
  padding: 6px 0 10px;
  margin: 0 auto;
  text-align: center;
}
#tardis-geral #title #bg-title p {
  font: 30px/13px Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
#tardis-geral #title #bg-title p span {
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  width: 60px;
  margin: 0 20px;
}
#tardis-geral #border-one {
  background: #223369;
  margin: 0 auto;
  width: 485px;
  height: 3px;
  border-bottom: 2px solid #091728;
}
#tardis-geral #doors-geral {
  overflow: hidden;
  width: 485px;
  margin: 0 auto;
  background: #285084;
}
#tardis-geral #doors-geral #column-left {
  height: 730px;
  width: 55px;
  float: left;
  border-bottom: 3px solid #1b406d;
  border-right: 3px solid #1b406d;
}
#tardis-geral #doors-geral .glasses {
  width: 137px;
  height: 160px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 30px;
}
#tardis-geral #doors-geral .glasses li {
  display: inline-block;
  margin-right: 3px;
  background: #fefefe;
  width: 33px;
  height: 80px;
  margin-bottom: 1px;
}
#tardis-geral #doors-geral .glasses li:nth-child(3n) {
  margin-right: 0;
}
#tardis-geral #doors-geral .glasses li.width {
  width: 50px;
}
#tardis-geral #doors-geral .glasses li.height {
  height: 73px;
}
#tardis-geral #doors-geral #door-left,
#tardis-geral #doors-geral #door-right {
  width: 180px;
  border-top: 30px solid #1b406d;
  border-right: 3px solid #1b406d;
  float: left;
  border-bottom: 3px solid #1b406d;
}
#tardis-geral #doors-geral #door-left #warning,
#tardis-geral #doors-geral #door-right #warning {
  height: 125px;
  background: #214778;
  width: 125px;
  margin: 0 auto;
  border-top: 2px solid rgba(36, 59, 101, 0.85);
  border-left: 1px solid rgba(36, 59, 101, 0.65);
  margin-bottom: 40px;
  position: relative;
}
#tardis-geral #doors-geral #door-left #warning #paper,
#tardis-geral #doors-geral #door-right #warning #paper {
  background: #b7b9c5;
  -webkit-box-shadow: inset 0px 0px 10px 3px #cfcecc;
  box-shadow: inset 0px 0px 10px 3px #cfcecc;
  padding: 5px;
  width: 83px;
  height: 90px;
  margin: 0 auto;
  margin-top: 10px;
  font-family: Georgia, "Times New Roman";
  text-align: center;
  text-transform: uppercase;
  color: #1a0000;
  position: relative;
}
#tardis-geral #doors-geral #door-left #warning #paper p,
#tardis-geral #doors-geral #door-right #warning #paper p {
  text-shadow: 0 0 4px white;
}
#tardis-geral #doors-geral #door-left #warning #paper .p-one,
#tardis-geral #doors-geral #door-right #warning #paper .p-one {
  font-size: 8px;
}
#tardis-geral #doors-geral #door-left #warning #paper .p-two,
#tardis-geral #doors-geral #door-right #warning #paper .p-two {
  font-size: 12px;
}
#tardis-geral #doors-geral #door-left #warning #paper .p-two span,
#tardis-geral #doors-geral #door-right #warning #paper .p-two span {
  display: block;
  font-size: 8px;
}
#tardis-geral #doors-geral #door-left #warning #paper .p-three,
#tardis-geral #doors-geral #door-right #warning #paper .p-three {
  font-size: 12px;
}
#tardis-geral #doors-geral #door-left #warning #paper .p-three span,
#tardis-geral #doors-geral #door-right #warning #paper .p-three span {
  display: block;
  font-size: 7px;
}
#tardis-geral #doors-geral #door-left #warning #paper .p-four,
#tardis-geral #doors-geral #door-right #warning #paper .p-four {
  font-size: 7px;
}
#tardis-geral #doors-geral #door-left #warning #paper .p-four span,
#tardis-geral #doors-geral #door-right #warning #paper .p-four span {
  display: block;
  font-size: 6px;
}
#tardis-geral #doors-geral #door-left #warning #paper .p-five,
#tardis-geral #doors-geral #door-right #warning #paper .p-five {
  font-size: 11px;
}
#tardis-geral #doors-geral #door-left #warning #paper:after,
#tardis-geral #doors-geral #door-right #warning #paper:after {
  background: #1d4372;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFkNDM3MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzNkNTg4NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZDQzNzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #1d4372 0%, #3d5885 50%, #1d4372 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #1d4372), color-stop(50%, #3d5885), color-stop(100%, #1d4372));
  background: -webkit-linear-gradient(left, #1d4372 0%, #3d5885 50%, #1d4372 100%);
  background: -o-linear-gradient(left, #1d4372 0%, #3d5885 50%, #1d4372 100%);
  background: -ms-linear-gradient(left, #1d4372 0%, #3d5885 50%, #1d4372 100%);
  background: linear-gradient(to right, #1d4372 0%, #3d5885 50%, #1d4372 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d4372', endColorstr='#1d4372', GradientType=1);
  border-radius: 5px;
  content: ".";
  display: block;
  height: 38px;
  position: absolute;
  width: 7px;
  border-bottom: 2px solid #000b37;
  border-left: 1px solid #1b406d;
  text-indent: -9999px;
  bottom: 28px;
  right: -12px;
  border-top: 4px solid rgba(255, 255, 255, 0.1);
}
#tardis-geral #doors-geral #door-left #warning:before,
#tardis-geral #doors-geral #door-right #warning:before {
  background: #1d4372;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFkNDM3MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzNkNTg4NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZDQzNzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #1d4372 0%, #3d5885 50%, #1d4372 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #1d4372), color-stop(50%, #3d5885), color-stop(100%, #1d4372));
  background: -webkit-linear-gradient(left, #1d4372 0%, #3d5885 50%, #1d4372 100%);
  background: -o-linear-gradient(left, #1d4372 0%, #3d5885 50%, #1d4372 100%);
  background: -ms-linear-gradient(left, #1d4372 0%, #3d5885 50%, #1d4372 100%);
  background: linear-gradient(to right, #1d4372 0%, #3d5885 50%, #1d4372 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d4372', endColorstr='#1d4372', GradientType=1);
  border-radius: 5px;
  content: ".";
  display: block;
  height: 25px;
  position: absolute;
  width: 5px;
  border-bottom: 2px solid #000b37;
  border-left: 1px solid #1b406d;
  text-indent: -9999px;
  top: 6px;
  left: -2px;
}
#tardis-geral #doors-geral #door-left #warning:after,
#tardis-geral #doors-geral #door-right #warning:after {
  background: #1d4372;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFkNDM3MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzNkNTg4NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZDQzNzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #1d4372 0%, #3d5885 50%, #1d4372 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #1d4372), color-stop(50%, #3d5885), color-stop(100%, #1d4372));
  background: -webkit-linear-gradient(left, #1d4372 0%, #3d5885 50%, #1d4372 100%);
  background: -o-linear-gradient(left, #1d4372 0%, #3d5885 50%, #1d4372 100%);
  background: -ms-linear-gradient(left, #1d4372 0%, #3d5885 50%, #1d4372 100%);
  background: linear-gradient(to right, #1d4372 0%, #3d5885 50%, #1d4372 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d4372', endColorstr='#1d4372', GradientType=1);
  border-radius: 5px;
  content: ".";
  display: block;
  height: 25px;
  position: absolute;
  width: 5px;
  border-bottom: 2px solid #000b37;
  border-left: 1px solid #1b406d;
  text-indent: -9999px;
  bottom: 15px;
  left: -2px;
}
#tardis-geral #doors-geral #door-left .detail-door,
#tardis-geral #doors-geral #door-right .detail-door {
  height: 125px;
  background: #214778;
  width: 125px;
  margin: 0 auto;
  border-top: 2px solid rgba(36, 59, 101, 0.85);
  border-left: 1px solid rgba(36, 59, 101, 0.65);
  margin-bottom: 40px;
}
#tardis-geral #doors-geral #door-left .locks,
#tardis-geral #doors-geral #door-right .locks {
  position: relative;
}
#tardis-geral #doors-geral #door-left .locks:before,
#tardis-geral #doors-geral #door-right .locks:before {
  background: #1d4372;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFkNDM3MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzNkNTg4NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZDQzNzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #1d4372 0%, #3d5885 50%, #1d4372 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #1d4372), color-stop(50%, #3d5885), color-stop(100%, #1d4372));
  background: -webkit-linear-gradient(left, #1d4372 0%, #3d5885 50%, #1d4372 100%);
  background: -o-linear-gradient(left, #1d4372 0%, #3d5885 50%, #1d4372 100%);
  background: -ms-linear-gradient(left, #1d4372 0%, #3d5885 50%, #1d4372 100%);
  background: linear-gradient(to right, #1d4372 0%, #3d5885 50%, #1d4372 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d4372', endColorstr='#1d4372', GradientType=1);
  border-radius: 5px;
  content: ".";
  display: block;
  height: 50px;
  position: absolute;
  width: 10px;
  border-bottom: 3px solid #000b37;
  border-left: 1px solid #1b406d;
  text-indent: -9999px;
  bottom: 37px;
  left: -16px;
  border-top: 4px solid rgba(255, 255, 255, 0.1);
}
#tardis-geral #doors-geral #door-left .locks:after,
#tardis-geral #doors-geral #door-right .locks:after {
  background: #796737;
  border-radius: 50%;
  content: "|";
  display: block;
  height: 17px;
  position: absolute;
  width: 17px;
  bottom: -25px;
  left: -14px;
  font-size: 11px;
  text-align: center;
}
#tardis-geral #doors-geral #door-right {
  border-left: 8px solid #1b406d;
  border-right: 0 none;
  width: 163px;
}
#tardis-geral #doors-geral #divider-door {
  width: 15px;
  background: #285084;
  float: left;
  height: 723px;
  border-bottom: 3px solid #1b406d;
}
#tardis-geral #doors-geral #column-right {
  height: 730px;
  width: 55px;
  float: right;
  border-bottom: 3px solid #1b406d;
  border-left: 3px solid #1b406d;
}
#tardis-geral #bottom-one {
  background: #23518f;
  width: 500px;
  height: 10px;
  margin: 0 auto;
}
#tardis-geral #bottom-two {
  background: #23518f;
  width: 500px;
  height: 35px;
  margin: 0 auto;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
#tardis-geral:hover {
  -webkit-animation: shuffle .5s linear;
  -moz-animation: shuffle .5s linear;
  animation: shuffle 0.5s linear;
}
@-webkit-keyframes shuffle {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.85);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes shuffle {
  0% {
    -moz-transform: scale(1);
  }
  50% {
    -moz-transform: scale(0.85);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@keyframes shuffle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
